<!doctype html>
<html lang="en" ng-app="appEducation">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="A layout example that shows off a responsive email layout." name="description"/>
    <title>Turma</title>

    <link crossorigin="anonymous" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          rel="stylesheet"/>
    <script src="../js/angular.min.js" type="text/javascript"></script>

    <link href="../css/email.css" rel="stylesheet"/>

</head>
<body ng-controller="appClassesCtrl">


<div class="content pure-g" id="layout">
    <div class="pure-u" id="nav">
        <a class="nav-menu-button" href="#">Menu</a>

        <div class="nav-inner">


            <div class="pure-menu">
                <ul class="pure-menu-list">

                    <li class="pure-menu-item"><a class="pure-menu-link" href="#"><span
                            class="email-label-personal"></span>Turmas</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#"><span class="email-label-work"></span>Nova
                        turma</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#"><span
                            class="email-label-travel"></span>Atividades</a></li>
                    <li class="pure-menu-heading">inscrito</li>

                    <li class="pure-menu-item"><a class="pure-menu-link" href="#"><span
                            class="email-label-personal"></span>Turma A</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" href="#"><span class="email-label-work"></span>Turma
                        B</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pure-u-2-3">

        <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
            <a href="#" class="pure-menu-link pure-menu-heading">Sala</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Mural</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Atividades</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Vídeos</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Alunos</a></li>
            </ul>
        </div>

        <form class="pure-form">

            <fieldset class="pure-group">

                <input class="pure-u-1" placeholder="Comparilhe algo" type="text"/>
            </fieldset>
            <fieldset align="right">
                <button class="pure-button pure-u-1-4 pure-button-primary" type="submit">Enviar</button>
                <button class="pure-button pure-u-1-4 pure-button-error">Cancelar</button>
            </fieldset>
        </form>


        <div class="email-item email-item-selected">
            <div class="pure-u">
                <h5 class="email-name">Tilo Mitra</h5>
                <h4 class="email-subject">Dúvida Atividade 1</h4>
                <p class="email-desc">
                    Estou com uma dúvida na questão 2.
                </p>
            </div>
        </div>
        <br/>

    </div>

</div>


</body>
<script src="../js/controllers/classesCtrl.js"></script>
</html>
